@import '../../../../../../theme/sass/conf/conf';

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
.td-key {
  text-align: left;
  width: 30%;
}
.td-value {
  width:70%;
}
