.checkbox {
  display: inline-block;
  margin-bottom: -12px;
  margin-left: 12px;
}
.form-control {
  width:100%;
}
.row {
  margin-top: 5px;
}
.td-key {
  text-align: left;
  width: 35%;
}
.td-value {
  width:75%;
}

.ng2-auto-complete > ul{
  color: black !important;
  background-color: aqua !important;;
  ul {
    background-color: aqua !important;;
    // font-size: 12px !important;;
    // line-height: 15px;
    // font-weight: #ffffff;
  }
}
div.ng2-auto-complete-wrapper {
  width: 100% !important;;
}