<div class="widgets">
    <div class="row">
        <ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
            <div class="row">
                <div class="col-sm-2">
                    <label class="label-control">Search</label>
                    <input class="form-control"  />
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-12 label-control">Sort by</label>
                    </div>
                    <div class="row">
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="company">Company</option>
                            <option ngValue="email">Primary Email</option>
                        </select>
                            </div>
                        </div>
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">User information</div>

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="4">
                                Search:
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                        <tr>
                            <!--<th style="width: 10%"></th>-->
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                            </th>
                            <th style="width: 40%">
                                <mfDefaultSorter by="company">Company</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="email">Primary Email</mfDefaultSorter>
                            </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <!--<td>
                                <button (click)="remove(item)" class="btn btn-danger">x</button>
                            </td>-->
                            
                            <td>{{item.name}}</td>
                            <td>{{item.company}}</td>
                            <td >{{item.email}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
        <ba-card title="" cardtitle="Create New" class="col-12" >
            <form>
                <div class="row show-grid">
                    <div class="col-12 col-md-3">
                        <label for="input01">Contacts Company</label>
                            <select class="form-control">
                                    <option value="Neoteric Hovercraft, Inc" title="" id="">Neoteric Hovercraft, Inc</option>
                                    <option value="Hovertechnics, LLC" title="" id="">Hovertechnics, LLC</option>
                            </select>
                    </div>
                    <div class="col-6 col-md-3">
                    <label for="input01">Title</label>
                                    <select class="form-control">
                                            <option value="" selected="SELECTED" title="" id="">
                                            </option><option value="Mr" title="" id="">Mr</option>
                                            <option value="Mrs" title="" id="">Mrs</option>
                                            <option value="Ms" title="" id="">Ms</option>
                                            <option value="Miss" title="" id="">Miss</option>
                                            <option value="Mr/Mrs" title="" id="">Mr/Mrs</option>
                                            <option value="Mr/Ms" title="" id="">Mr/Ms</option>
                                            <option value="Mr/Miss" title="" id="">Mr/Miss</option>
                                            <option value="Dr" title="" id="">Dr</option>
                                            <option value="Herr" title="" id="">Herr</option>
                                            <option value="Monsieur" title="" id="">Monsieur</option>
                                            <option value="Hr" title="" id="">Hr</option>
                                            <option value="Frau" title="" id="">Frau</option>
                                            <option value="A V M" title="" id="">A V M</option>
                                            <option value="Admiraal" title="" id="">Admiraal</option>
                                            <option value="Admiral" title="" id="">Admiral</option>
                                            <option value="Air Cdre" title="" id="">Air Cdre</option>
                                            <option value="Air Commodore" title="" id="">Air Commodore</option>
                                            <option value="Air Marshal" title="" id="">Air Marshal</option>
                                            <option value="Air Vice Marshal" title="" id="">Air Vice Marshal</option>
                                            <option value="Alderman" title="" id="">Alderman</option>
                                            <option value="Alhaji" title="" id="">Alhaji</option>
                                            <option value="Ambassador" title="" id="">Ambassador</option>
                                            <option value="Baron" title="" id="">Baron</option>
                                            <option value="Barones" title="" id="">Barones</option>
                                            <option value="Brig" title="" id="">Brig</option>
                                            <option value="Brig Gen" title="" id="">Brig Gen</option>
                                            <option value="Brig General" title="" id="">Brig General</option>
                                            <option value="Brigadier" title="" id="">Brigadier</option>
                                            <option value="Brigadier General" title="" id="">Brigadier General</option>
                                            <option value="Brother" title="" id="">Brother</option>
                                            <option value="Canon" title="" id="">Canon</option>
                                            <option value="Capt" title="" id="">Capt</option>
                                            <option value="Captain" title="" id="">Captain</option>
                                            <option value="Cardinal" title="" id="">Cardinal</option>
                                            <option value="Cdr" title="" id="">Cdr</option>
                                            <option value="Chief" title="" id="">Chief</option>
                                            <option value="Cik" title="" id="">Cik</option>
                                            <option value="Cmdr" title="" id="">Cmdr</option>
                                            <option value="Col" title="" id="">Col</option>
                                            <option value="Col Dr" title="" id="">Col Dr</option>
                                            <option value="Colonel" title="" id="">Colonel</option>
                                            <option value="Commandant" title="" id="">Commandant</option>
                                            <option value="Commander" title="" id="">Commander</option>
                                            <option value="Commissioner" title="" id="">Commissioner</option>
                                            <option value="Commodore" title="" id="">Commodore</option>
                                            <option value="Comte" title="" id="">Comte</option>
                                            <option value="Comtessa" title="" id="">Comtessa</option>
                                            <option value="Congressman" title="" id="">Congressman</option>
                                            <option value="Conseiller" title="" id="">Conseiller</option>
                                            <option value="Consul" title="" id="">Consul</option>
                                            <option value="Conte" title="" id="">Conte</option>
                                            <option value="Contessa" title="" id="">Contessa</option>
                                            <option value="Corporal" title="" id="">Corporal</option>
                                            <option value="Councillor" title="" id="">Councillor</option>
                                            <option value="Count" title="" id="">Count</option>
                                            <option value="Countess" title="" id="">Countess</option>
                                            <option value="Crown Prince" title="" id="">Crown Prince</option>
                                            <option value="Crown Princess" title="" id="">Crown Princess</option>
                                            <option value="Dame" title="" id="">Dame</option>
                                            <option value="Datin" title="" id="">Datin</option>
                                            <option value="Dato" title="" id="">Dato</option>
                                            <option value="Datuk" title="" id="">Datuk</option>
                                            <option value="Datuk Seri" title="" id="">Datuk Seri</option>
                                            <option value="Deacon" title="" id="">Deacon</option>
                                            <option value="Deaconess" title="" id="">Deaconess</option>
                                            <option value="Dean" title="" id="">Dean</option>
                                            <option value="Dhr" title="" id="">Dhr</option>
                                            <option value="Dipl Ing" title="" id="">Dipl Ing</option>
                                            <option value="Doctor" title="" id="">Doctor</option>
                                            <option value="Dott" title="" id="">Dott</option>
                                            <option value="Dott sa" title="" id="">Dott sa</option>
                                            <option value="Dr Ing" title="" id="">Dr Ing</option>
                                            <option value="Dra" title="" id="">Dra</option>
                                            <option value="Drs" title="" id="">Drs</option>
                                            <option value="Embajador" title="" id="">Embajador</option>
                                            <option value="Embajadora" title="" id="">Embajadora</option>
                                            <option value="En" title="" id="">En</option>
                                            <option value="Encik" title="" id="">Encik</option>
                                            <option value="Eng" title="" id="">Eng</option>
                                            <option value="Eur Ing" title="" id="">Eur Ing</option>
                                            <option value="Exma Sra" title="" id="">Exma Sra</option>
                                            <option value="Exmo Sr" title="" id="">Exmo Sr</option>
                                            <option value="F O" title="" id="">F O</option>
                                            <option value="Father" title="" id="">Father</option>
                                            <option value="First Lieutient" title="" id="">First Lieutient</option>
                                            <option value="First Officer" title="" id="">First Officer</option>
                                            <option value="Flt Lieut" title="" id="">Flt Lieut</option>
                                            <option value="Flying Officer" title="" id="">Flying Officer</option>
                                            <option value="Fr" title="" id="">Fr</option>
                                            <option value="Fraulein" title="" id="">Fraulein</option>
                                            <option value="Fru" title="" id="">Fru</option>
                                            <option value="Gen" title="" id="">Gen</option>
                                            <option value="Generaal" title="" id="">Generaal</option>
                                            <option value="General" title="" id="">General</option>
                                            <option value="Governor" title="" id="">Governor</option>
                                            <option value="Graaf" title="" id="">Graaf</option>
                                            <option value="Gravin" title="" id="">Gravin</option>
                                            <option value="Group Captain" title="" id="">Group Captain</option>
                                            <option value="Grp Capt" title="" id="">Grp Capt</option>
                                            <option value="H E Dr" title="" id="">H E Dr</option>
                                            <option value="H H" title="" id="">H H</option>
                                            <option value="H M" title="" id="">H M</option>
                                            <option value="H R H" title="" id="">H R H</option>
                                            <option value="Hajah" title="" id="">Hajah</option>
                                            <option value="Haji" title="" id="">Haji</option>
                                            <option value="Hajim" title="" id="">Hajim</option>
                                            <option value="Her Highness" title="" id="">Her Highness</option>
                                            <option value="Her Majesty" title="" id="">Her Majesty</option>
                                            <option value="High Chief" title="" id="">High Chief</option>
                                            <option value="His Highness" title="" id="">His Highness</option>
                                            <option value="His Holiness" title="" id="">His Holiness</option>
                                            <option value="His Majesty" title="" id="">His Majesty</option>
                                            <option value="Hon" title="" id="">Hon</option>
                                            <option value="Hra" title="" id="">Hra</option>
                                            <option value="Ing" title="" id="">Ing</option>
                                            <option value="Ir" title="" id="">Ir</option>
                                            <option value="Jonkheer" title="" id="">Jonkheer</option>
                                            <option value="Judge" title="" id="">Judge</option>
                                            <option value="Justice" title="" id="">Justice</option>
                                            <option value="Khun Ying" title="" id="">Khun Ying</option>
                                            <option value="Kolonel" title="" id="">Kolonel</option>
                                            <option value="Lady" title="" id="">Lady</option>
                                            <option value="Lcda" title="" id="">Lcda</option>
                                            <option value="Lic" title="" id="">Lic</option>
                                            <option value="Lieut" title="" id="">Lieut</option>
                                            <option value="Lieut Cdr" title="" id="">Lieut Cdr</option>
                                            <option value="Lieut Col" title="" id="">Lieut Col</option>
                                            <option value="Lieut Gen" title="" id="">Lieut Gen</option>
                                            <option value="Lord" title="" id="">Lord</option>
                                            <option value="M" title="" id="">M</option>
                                            <option value="M L" title="" id="">M L</option>
                                            <option value="M R" title="" id="">M R</option>
                                            <option value="Madame" title="" id="">Madame</option>
                                            <option value="Mademoiselle" title="" id="">Mademoiselle</option>
                                            <option value="Maj Gen" title="" id="">Maj Gen</option>
                                            <option value="Major" title="" id="">Major</option>
                                            <option value="Master" title="" id="">Master</option>
                                            <option value="Mevrouw" title="" id="">Mevrouw</option>
                                            <option value="Mlle" title="" id="">Mlle</option>
                                            <option value="Mme" title="" id="">Mme</option>
                                            <option value="Monsignor" title="" id="">Monsignor</option>
                                            <option value="Mstr" title="" id="">Mstr</option>
                                            <option value="Nti" title="" id="">Nti</option>
                                            <option value="Officer" title="" id="">Officer</option>
                                            <option value="Pastor" title="" id="">Pastor</option>
                                            <option value="President" title="" id="">President</option>
                                            <option value="Prince" title="" id="">Prince</option>
                                            <option value="Princess" title="" id="">Princess</option>
                                            <option value="Princesse" title="" id="">Princesse</option>
                                            <option value="Prinses" title="" id="">Prinses</option>
                                            <option value="Prof" title="" id="">Prof</option>
                                            <option value="Prof Dr" title="" id="">Prof Dr</option>
                                            <option value="Prof Sir" title="" id="">Prof Sir</option>
                                            <option value="Professor" title="" id="">Professor</option>
                                            <option value="Puan" title="" id="">Puan</option>
                                            <option value="Puan Sri" title="" id="">Puan Sri</option>
                                            <option value="Rabbi" title="" id="">Rabbi</option>
                                            <option value="Rear Admiral" title="" id="">Rear Admiral</option>
                                            <option value="Rev" title="" id="">Rev</option>
                                            <option value="Rev Canon" title="" id="">Rev Canon</option>
                                            <option value="Rev Dr" title="" id="">Rev Dr</option>
                                            <option value="Rev Mother" title="" id="">Rev Mother</option>
                                            <option value="Reverend" title="" id="">Reverend</option>
                                            <option value="Rva" title="" id="">Rva</option>
                                            <option value="Senator" title="" id="">Senator</option>
                                            <option value="Sergeant" title="" id="">Sergeant</option>
                                            <option value="Sheikh" title="" id="">Sheikh</option>
                                            <option value="Sheikha" title="" id="">Sheikha</option>
                                            <option value="Sig" title="" id="">Sig</option>
                                            <option value="Sig na" title="" id="">Sig na</option>
                                            <option value="Sig ra" title="" id="">Sig ra</option>
                                            <option value="Sir" title="" id="">Sir</option>
                                            <option value="Sister" title="" id="">Sister</option>
                                            <option value="Sqn Ldr" title="" id="">Sqn Ldr</option>
                                            <option value="Sr" title="" id="">Sr</option>
                                            <option value="Sr D" title="" id="">Sr D</option>
                                            <option value="Sra" title="" id="">Sra</option>
                                            <option value="Srta" title="" id="">Srta</option>
                                            <option value="Sultan" title="" id="">Sultan</option>
                                            <option value="Tan Sri" title="" id="">Tan Sri</option>
                                            <option value="Tan Sri Dato" title="" id="">Tan Sri Dato</option>
                                            <option value="Tengku" title="" id="">Tengku</option>
                                            <option value="Teuku" title="" id="">Teuku</option>
                                            <option value="Than Puying" title="" id="">Than Puying</option>
                                            <option value="The Hon Dr" title="" id="">The Hon Dr</option>
                                            <option value="The Hon Justice" title="" id="">The Hon Justice</option>
                                            <option value="The Hon Miss" title="" id="">The Hon Miss</option>
                                            <option value="The Hon Mr" title="" id="">The Hon Mr</option>
                                            <option value="The Hon Mrs" title="" id="">The Hon Mrs</option>
                                            <option value="The Hon Ms" title="" id="">The Hon Ms</option>
                                            <option value="The Hon Sir" title="" id="">The Hon Sir</option>
                                            <option value="The Very Rev" title="" id="">The Very Rev</option>
                                            <option value="Toh Puan" title="" id="">Toh Puan</option>
                                            <option value="Tun" title="" id="">Tun</option>
                                            <option value="Vice Admiral" title="" id="">Vice Admiral</option>
                                            <option value="Viscount" title="" id="">Viscount</option>
                                            <option value="Viscountess" title="" id="">Viscountess</option>
                                            <option value="Wg Cdr" title="" id="">Wg Cdr</option>
                                        </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="input01">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="input01">Company</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row show-grid">
                    
                    <div class="col-6 col-md-3">
                        <label for="input01">Business Title</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6 col-md-3">
                        <label for="input01">Primary Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6 col-md-3">
                        <label for="input01">Secondary Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6 col-md-3">
                        <label for="input01">Web Address</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row show-grid">
                    
                    <div class="col-6 col-md-3">
                        <label for="input01">Source</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </ba-card>
    </div>
</div>
