<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th >Part#</th>
      <th >P/F Description</th>
      <th >Qty</th>
      <th class="">Unit</th>
      <th >Unit Cost</th>
      <th class="">Note</th>
      <th class="">Not Discounted</th>
      <th class="">Tax Exempt</th>
      <th class="">Extended Cost</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoicePart of invoiceParts" class="no-top-border">
        <td>{{invoicePart.dbPartNumber}}</td>
        <td class="">{{invoicePart.dbDescription}}</td>
        <td class="align-center">{{invoicePart.dbQty}}</td>
        <td class=""></td>
        <td class="">{{invoicePart.dbUnitCost | currency:'USD':true}}</td>
        <td class="">{{invoicePart.dbNote}}</td>
        <td class="">{{invoicePart.dbNotDiscounted}}</td>
        <td class=""></td>
        <td class="">{{invoicePart.dbExtendedCost | currency:'USD':true}}</td>
      </tr>
    </tbody>
  </table>
</div>