.checkbox {
  display: inline-block;
  margin-bottom: -12px;
  margin-left: 12px;
}
.form-control {
  width:100%;
}
.row {
  margin-top: 5px;
}

.add-element {
  color: white;
}

textarea {
  height: auto;
}

// input {
//   display: block; border: 1px solid #ccc; width: 300px;
// }

.ng2-auto-complete > ul{
  color: black !important;
  background-color: aqua !important;;
 
}
.ng2-auto-complete > ul >li{
  background: black;
  color: red !important;
}
div.ng2-auto-complete-wrapper {
  width: 100% !important;;
}
.text-block {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  // margin: 0 0 0 80px;
  padding: 5px 20px;
  color: #ffffff;
  width: 280px;
  height: 70px;

  &.text-message {
    font-size: 12px;
    width: inherit;
    // max-width: calc(100% - 80px);
    height: inherit;
    min-height: 60px;
    &:before {
      display: block;
    }
    .message-content {
      font-size: 12px;
      line-height: 15px;
      font-weight: #ffffff;
    }
  }
  &.small-message {
    width: 155px;
    height: 145px;
    .preview {
      bottom: 0;
      top: initial;
      height: 87px;
      img {
        width: 155px;
        height: 87px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}

.message-header {
  font-size: 12px;
  padding-bottom: 5px;
  .author {
    font-size: 13px;
    padding-right: 5px;
  }
  
}

.message-content {
  font-size: 18px;
  line-height: 20px;
}

.card > .card-body {
  padding: 0px 0px !important;
}
.card-header {
  padding: 7px 10px !important;
  height: auto !important;
}

.ng2-auto-complete {
  background-color: transparent;
}
.ng2-auto-complete > input {
  outline: none;
  border: 0;
  padding: 2px; 
  box-sizing: border-box;
  background-clip: content-box;
}

.ng2-auto-complete > ul {
  background-color: #fff;
  margin: 0;
  width : 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  animation: slideDown 0.1s;
}
.ng2-auto-complete > ul.empty {
  display: none;
}

.ng2-auto-complete > ul li {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
}

.ng2-auto-complete > ul li.selected {
  background-color: #ccc;
}

.ng2-auto-complete > ul li:last-child {
  border-bottom: none;
}

.ng2-auto-complete > ul li:hover {
  background-color: #ccc;
}
.colBlack{
  color: black;
}